services:
  manager:
    build:
      context: .
      dockerfile: manager/Dockerfile
    hostname: manager
    ports:
      - "8138:${PORT}"
    security_opt:
      - no-new-privileges:true
    networks:
      - rfswarm
    environment:
      DISPLAY: $DISPLAY
      PORT:
      CONFIG_FILE:
      SCENARIO_FILE:
      LOG_LEVEL:
      DISPLAY_GUI:
      RUN_AUTOMATICALLY:
    volumes:
      - ./tests/suites:/src/tests
      - ./reports:/src/reports
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    container_name: manager

  firefox_agent:
    build:
      context: .
      dockerfile: agent/seleniumlibrary-firefox/Dockerfile
    hostname: agent
    security_opt:
      - no-new-privileges:true
    user: rfagent
    networks:
      - rfswarm
    depends_on:
      - manager
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    container_name: agent

networks:
  rfswarm:
    name: rfswarm
